<!DOCTYPE html>

<html>

<head>
    <title>Angular Tree Test Page</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <style>
        .tree {
            padding-left: 0;
        }

        .tree li {
            list-style-type: none;
        }

        .tree ul {
            padding-left: 1.5em;
        }

        table.tree td {
            cursor: pointer;
        }

        .tree .glyphicon {
            margin-left: 0.5em;
            margin-right: 0.2em;
        }
    </style>
</head>

<body ng-app="PdxTreeTestApp">
    <div class="container">
        <div class="row" ng-controller="PdxTreeTestCtrl">
            <div class="col-xs-12">
                <h1>PDX Tree</h1>
                <button class="btn btn-default" ng-click="addNode()">Add node</button>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Nested list example</h2>
                    </div>
                    <div class="panel-body">
                        <ul pdx-tree pdx-tree-options="treeOptions" class="tree" pdx-tree-node-list="nodeContainer">
                            <li pdx-tree-item>
                                <span ng-class="pdxTreeOptions.getNodeIcon(node)" class="glyphicon"></span>
                                <a ng-click="toggleChildren(node)">{{ node.name }}</a>
                                <ul pdx-tree-children></ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Flat example</h2>
                    </div>
                    <div pdx-tree pdx-tree-options="treeOptions" class="pdx-tree list-group tree" pdx-tree-node-list="nodeContainer">
                        <a pdx-tree-item pdx-tree-children class="list-group-item" ng-style="pdxTreeOptions.getNodePadding(pdxTreeNodeDepth)" ng-click="toggleChildren(node)">
                            <span ng-class="pdxTreeOptions.getAlternateNodeIcon(node)" class="glyphicon"></span>
                            {{ node.name }}
                            <div class="pull-right">
                                <div class="label label-default">{{pdxTreeNodeDepth}}</div>
                                <div class="label label-info" ng-bind="pdxTreeOptions.getChildCount(node)"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Table example</h2>
                    </div>
                    <table pdx-tree pdx-tree-options="treeOptions" class="table table-striped table-hover tree" pdx-tree-node-list="nodeContainer">
                        <thead>
                            <tr>
                                <th>Node</th>
                                <th>Depth</th>
                                <th>Children</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr pdx-tree-children pdx-tree-item ng-click="toggleChildren(node)">
                                <td ng-style="pdxTreeOptions.getNodePadding(pdxTreeNodeDepth)">
                                    <span ng-class="pdxTreeOptions.getNodeIcon(node)" class="glyphicon"></span>
                                    {{ node.name }}
                                </td>
                                <td>{{pdxTreeNodeDepth}}</td>
                                <td>{{pdxTreeOptions.getChildCount(node)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="../bower_components/angular-resource/angular-resource.min.js"></script>

    <!-- Distribution version -->
    <!--
    <script type="application/javascript" src="../dist/pdx-tree.min.js"></script>
    -->

    <!-- Development version -->
    <script type="application/javascript" src="../src/pdx-tree.js"></script>
    <script type="application/javascript" src="../src/directives/PdxTree.js"></script>
    <script type="application/javascript" src="../src/directives/PdxTreeItem.js"></script>
    <script type="application/javascript" src="../src/directives/PdxTreeChildren.js"></script>
    <script type="application/javascript" src="../src/services/PdxTreeDomService.js"></script>
    <script type="application/javascript" src="../src/services/PdxTreeChildManagerService.js"></script>
    <script type="application/javascript" src="../src/services/child-strategy/PdxTreeNestedImplementation.js"></script>
    <script type="application/javascript" src="../src/services/child-strategy/PdxTreeSiblingImplementation.js"></script>
    <!--
    -->

    <!-- Test controller -->
    <script type="application/javascript" src="js/PdxTreeTest.js"></script>
</body>

</html>
