<!DOCTYPE html>

<html>

<head>
    <title>Angular Tree Test Page</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <style>
        .pdx-tree {
            padding-left: 0;
        }

        .pdx-tree li {
            list-style-type: none;
        }

        .pdx-tree ul {
            padding-left: 1.5em;
        }
    </style>
</head>

<body ng-app="PdxTreeTestApp">
    <form>
        <div ng-controller="PdxTreeTestCtrl">
            <h1>PDX Tree</h1>

            <h2>Nested list example</h2>
            <ul pdx-tree pdx-tree-options="treeOptions" class="pdx-tree" pdx-tree-node-list="nodes">
                <li pdx-tree-item>
                    <span ng-class="pdxTreeOptions.getNodeIcon(node)" class="glyphicon"></span>
                    <a ng-click="toggleChildren(node)">{{ node.name }}</a>
                    <ul pdx-tree-children></ul>
                </li>
            </ul>

            <h2>Flat example</h2>
            <div pdx-tree pdx-tree-options="treeOptions" class="pdx-tree list-group" pdx-tree-node-list="nodes">
                <a pdx-tree-item class="list-group-item" ng-style="pdxTreeOptions.getNodePadding(pdxTreeNodeDepth)" ng-click="toggleChildren(node)">
                    <span ng-class="pdxTreeOptions.getAlternateNodeIcon(node)" class="glyphicon"></span>
                    {{ node.name }}
                    <div class="pull-right">
                        <div class="label label-default">{{pdxTreeNodeDepth}}</div>
                        <div class="label label-info" ng-bind="pdxTreeOptions.getChildCount(node)"></div>
                    </div>
                </a>
                <div pdx-tree-children></div>
            </div>
        </div>
    </form>

    <script type="application/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="../bower_components/angular-resource/angular-resource.min.js"></script>

    <!-- Distribution version -->
    <!--
    <script type="application/javascript" src="../dist/pdx-tree.min.js"></script>
    -->

    <!-- Development version -->
    <script type="application/javascript" src="../src/pdx-tree.js"></script>
    <script type="application/javascript" src="../src/directives/PdxTree.js"></script>
    <script type="application/javascript" src="../src/services/PdxTreeDomService.js"></script>
    <script type="application/javascript" src="../src/services/PdxTreeChildManagerService.js"></script>
    <!--
    -->

    <!-- Test controller -->
    <script type="application/javascript" src="js/PdxTreeTest.js"></script>
</body>

</html>
