<div class="row">
    <div class="col-md-12">
        <h2>Examples</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Nested and flat trees</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default" ng-controller="ExampleOneCtrl">
            <div class="panel-heading">
                <h3 class="panel-title">Nested tree</h3>
            </div>
            <div class="panel-body">
                <ul pdx-tree pdx-tree-controller="tree.controller" pdx-tree-node-list="tree.nodeList">
                    <li pdx-tree-item>
                        <a href="" ng-click="toggleChildren(node)">{{ node.name }}</a>
                        <ul pdx-tree-children></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default" ng-controller="ExampleOneCtrl">
            <div class="panel-heading">
                <h3 class="panel-title">Flat tree</h3>
            </div>
            <ul pdx-tree pdx-tree-controller="tree.controller" pdx-tree-node-list="tree.nodeList" class="list-group">
                <li pdx-tree-children pdx-tree-item class="list-group-item">
                    <a ng-style="getNodePadding(_pdxTreeNodeDepth);" href="" ng-click="toggleChildren(node)">{{ node.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tree table</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" ng-controller="ExampleOneCtrl">
            <div class="panel-heading">
                <h3 class="panel-title">Tree table</h3>
            </div>
            <table pdx-tree pdx-tree-controller="tree.controller" pdx-tree-node-list="tree.nodeList" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th width="25%">Charge (e)</th>
                        <th width="25%">Mass (MeV/c&sup2;)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr pdx-tree-children pdx-tree-item ng-click="toggleChildren(node)">
                        <td><span ng-style="getNodePadding(_pdxTreeNodeDepth);">{{ node.name }}</span></td>
                        <td ng-bind-html="node.charge"></td>
                        <td>{{ node.mass }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Node selection</h3>
    </div>
</div>

<div class="row" ng-controller="ExampleTwoCtrl">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available options</h3>
            </div>
            <ul class="list-group tree" ng-non-bindable pdx-tree pdx-tree-controller="tree.controller" pdx-tree-node-list="tree.nodeList">
                <li class="list-group-item" pdx-tree-item pdx-tree-children>
                    <span ng-if="node.childList!=false">
                        <input type="checkbox" ng-if="node.childList==false" ng-change="nodeSelectionChanged(node)" ng-model="node.selected">
                        <a style="display: block;" ng-click="toggleChildren(node)">{{ node.name }}</a>
                    </span>
                    <span ng-if="node.childList==false">
                        <label style="display: block;">
                            <input type="checkbox" ng-if="node.childList==false" ng-change="nodeSelectionChanged(node)" ng-model="node.selected">
                            {{ node.name }}
                        </label>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <pre>{{ selectedItems | json }}</pre>
    </div>
</div>