<div class="row">
    <div class="col-md-12">
        <h2>Features</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead">
            PdxTree is an AngularJS directive that aims to help manage the rendering of hierarchical data.
        </p>
        <p>
            It consists of a primary <code>pdx-tree</code> directive, two light-weight marker directives
            (<code>pdx-tree-item</code> and <code>pdx-tree-children</code>), and several supporting services.
        </p>
        <p>
            Data for PdxTree may be pre-loaded in the Angular scope or loaded over HTTP as needed.
        </p>
        <p>
            PdxTree supports both a "nested" rendering style and a "sibling" rendering style. The nested
            style works well with standard HTML lists, while the sibling style works well with stylized
            listings and makes tree and table combinations possible.
        </p>
        <p>
            PdxTree works to generate the HTML for the tree, but defers much of the control over the tree
            to the client code.
        </p>
    </div>
</div>
