<div class="row">
    <div class="col-md-12">
        <h2>Installation</h2>

        <h3>Bower</h3>
        <p>
            PdxTree may be installed using <a href="http://bower.io" target="_blank">Bower</a>:
        </p>
        <pre><code>bower install pdx-tree</code></pre>

        <h3>Individual file download</h3>
        <p>
            You may also install PdxTree by downloading either the
            <a href="https://raw2.github.com/cberube/pdx-tree/v0.0.5/dist/pdx-tree.js">pdx-tree.js</a> or
            <a href="https://raw2.github.com/cberube/pdx-tree/v0.0.5/dist/pdx-tree.min.js">pdx-tree.min.js</a> file
            directly from the <code>dist</code> directory inside the GitHub repository.
        </p>

        <h3>Git repository</h3>
        <p>
            You may also clone <a href="https://github.com/cberube/pdx-tree">the entire repository</a> if you are
            interested in modifying and improving PdxTree.
        </p>

        <h2>Required files</h2>
        <p>
            The only file required for PdxTree (aside from it's dependency on AngularJS) is the <code>pdx-tree.js</code>
            or <code>pdx-tree.min.js</code> from the <code>dist</code> directory.
        </p>

        <p>
            If you have cloned the entire repo and want to work with a development version of PdxTree you will need
            to include all of the JavaScript files in the <code>src</code> directory instead.
        </p>
    </div>
</div>
