<div class="row">
    <div class="col-md-12">
        <h2>Usage Details</h2>
        <p><em>Detailed usage information is coming soon.</em></p>
    </div>
</div>


<!--
<small>
    You do not need to create both your tree controller function and tree node list inside the same
    object -- in fact, they do not need to be within an object at all -- but it is <em>very strongly
    recommended</em> that you place your node list within an object. You should consider the node
    list to be a property of a model that represents the tree, and you should not consider the
    Angular scope to be that model.
</small>
-->